# PLATFORM
**/__pycache__
*.db

# cli
.venv
*.egg-info/
build/

# dependencies
frontend-dev/node_modules
frontend-dev/.pnp
frontend-dev/.pnp.*
frontend-dev/.yarn/*
frontend-dev/!.yarn/patches
frontend-dev/!.yarn/plugins
frontend-dev/!.yarn/releases
frontend-dev/!.yarn/versions

# testing
frontend-dev/coverage

# production
frontend-dev/dist

# misc
frontend-dev/.DS_Store
frontend-dev/*.pem

# debug
frontend-dev/npm-debug.log*
frontend-dev/yarn-debug.log*
frontend-dev/yarn-error.log*
frontend-dev/pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
frontend-dev/.vercel

# typescript
frontend-dev/*.tsbuildinfo
frontend-dev/next-env.d.ts

# BACKEND

# dependencies
src/fair_platform/backend/venv/
src/fair_platform/backend/.venv/
src/fair_platform/backend/.mypy_cache/
src/fair_platform/backend/.pytest_cache/
src/fair_platform/backend/.coverage

src/fair_platform/frontend/dist

# IDEs
**/.idea
**/.vscode
.vscode

# npm (project uses bun)
frontend-dev/package-lock.json

# DOCS

# dependencies
docs/node_modules
docs/.astro

# production
docs/dist

# misc
docs/.DS_Store
