@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-host-grotesk);
    --font-serif: var(--font-remark);
    --font-host-grotesk: var(--font-host-grotesk);
    --font-remark: var(--font-remark);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-primary-gradient: var(--primary-gradient);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.955 0 89.876);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);

    /* Primary button variables */
    --primary-gradient: linear-gradient(0deg, var(--color-zinc-900), var(--color-zinc-700));
    --primary-hover: linear-gradient(0deg, var(--color-zinc-800), var(--color-zinc-700));
    --primary-shadow: inset 0 1px 0 var(--color-zinc-600), 0 4px 10px rgba(0, 0, 0, 0.1);
    --primary-shadow-active: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.4);
    --primary-border: var(--color-zinc-800);

    /* Secondary button variables */
    --secondary-gradient: linear-gradient(0deg, var(--color-zinc-200), var(--color-zinc-100));
    --secondary-hover: linear-gradient(0deg, var(--color-gray-200), var(--color-zinc-50));
    --secondary-shadow: inset 0 1px 0 var(--color-white), 0 4px 10px rgba(0, 0, 0, 0.05);
    --secondary-shadow-active: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.2);
    --secondary-border: var(--color-zinc-300);

    /* Destructive button variables */
    --destructive-gradient: linear-gradient(0deg, var(--color-red-800), var(--color-red-700));
    --destructive-hover: linear-gradient(0deg, var(--color-red-800), var(--color-red-600));
    --destructive-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 6px rgba(220, 38, 38, 0.4);
    --destructive-shadow-active: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(220, 38, 38, 0.5);
    --destructive-border: oklch(50% 0.15 30);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.988 0 89.876);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);

    /* Primary button variables - dark mode */
    --primary-gradient: linear-gradient(0deg, var(--color-zinc-400), var(--color-zinc-200));
    --primary-hover: linear-gradient(0deg, var(--color-gray-400), var(--color-zinc-50));
    --primary-shadow: inset 0 1px 0 var(--color-white), 0 4px 10px rgba(0, 0, 0, 0.05);
    --primary-btn-shadow-active: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.1);
    --primary-border: var(--color-zinc-500);

    /* Secondary button variables - dark mode */
    --secondary-gradient: linear-gradient(0deg, var(--color-zinc-900), var(--color-zinc-800));
    --secondary-hover: linear-gradient(0deg, var(--color-zinc-800), var(--color-zinc-700));
    --secondary-shadow: inset 0 1px 0 var(--color-zinc-700), 0 2px 8px rgba(0, 0, 0, 0.1);
    --secondary-shadow-active: inset 0 1px 2px rgba(3, 2, 2, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
    --secondary-border: var(--color-black);

    --destructive-gradient: linear-gradient(0deg, var(--color-red-900), var(--color-red-800));
    --destructive-hover: linear-gradient(0deg, var(--color-red-900), var(--color-red-700));
    --destructive-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px rgba(220, 38, 38, 0.4);
    --destructive-shadow-active: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(220, 38, 38, 0.5);
    --destructive-border: oklch(50% 0.15 30);

    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.164 0 89.876);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .bg-primary {
        background: var(--primary-gradient);
    }

    .bg-secondary {
        background: var(--secondary-gradient);
    }

    .bg-destructive {
        background: var(--destructive-gradient);
    }

}

@source inline('{text}-{gray,orange,red,yellow,green,blue}-{500}');
@source inline('{bg}-{gray,orange,red,yellow,green,blue}-{500}/10');

/* Workaround for https://github.com/shadcn-ui/ui/issues/977 */
html>body[data-scroll-locked] {
    overflow: visible !important;
    margin-right: 0 !important;
}