<a href="/" class="header-logo">The Fair Documentation</a>

<style>
    .header-logo {
        color: inherit;
        text-decoration: none;
        font-size: 1.25rem;
        font-family: 'Remark', serif;
        font-weight: 600;
        justify-content: start;
        align-items: start;
    }
</style>
