@font-face {
    font-family: 'Remark';
    src: url('/fonts/LTRemark-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.nav-logo {
    font-family: 'Remark', serif;
    font-weight: 600;
    font-size: 1.5rem;
}
